table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

a {
  background-color: black;
  color: white;
  padding: 0.5vh 1vh;
  font-style: normal;
  text-decoration: none;
}