header {
  position:absolute; top:8px; left:8px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    min-height: 80vh;
    justify-content: center;
    text-align: center;
}
