/* høyere bredde enn 1024px, laptop og desktop skjermer */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: calc(0.3em + 1vw);
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  "header header"
  "content sidebar"
  "footer footer";
}

#skip {
  opacity: 0; 
  width: 0; 
  height: 0;
}

#skip:focus {
  opacity: 1;
}

.header {
  grid-area: header;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-image: url(header.jpg);
  background-size: 100% 100%;
  white-space: nowrap;
}

header h2 {
  grid-column: 2;
  color: Maroon;
  position: relative;
  top: 50%;
}

nav {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  z-index: 1;
  overflow: hidden;
  line-height: 280%;
  background-color: navy;
  overflow-x: hidden;
  color: white;
}

.hjem {
  float: left;
  width:50%;
}

.ddmenu {
  background-color: #4b4848;
  line-height: 280%;
  width: 50%;
  position: absolute;
  right: 0;
}

.ddcontent ul {
  padding: 0;
  margin: 0;
}

.ddmenu, nav ul, nav input {
  display: none;
}

#menu:checked ~ .ddmenu, .ddcontent input:checked ~ ul {
  display: block;
}

label:hover {
  cursor: pointer;
}

label {
  display: block;
}

nav ul, nav li, nav li a, nav a, label {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

nav li > a:hover, nav a:hover {
  text-decoration: none;
}

nav li > a {
  display: inline-block;
  width: 100%;
}

#content {
  min-height: 65vh;
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 4vh 4vw;
  align-content: space-around;
}

.lesmer {
  background-color: blue;
  border: none;
  color: white;
  padding: 0.5vh 1vw;
  font-style: normal;
  outline-color: black;
}

input {
  width: 60%;
}

textarea {
  width: 80%;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content min-content min-content;
  grid-row-gap: 4vh;
  padding: 4vw;
  background-color: darkred;
  color: white;
}

.gitbtn {
  grid-column: 2;
  grid-row: 1;
  background-color: blue;
  border: none;
  color: white;
  padding: 1.5vh 3.5vw;
  font-style: normal;
}

.lesmer:hover, .gitbtn:hover{
  text-decoration: none;
}

.iframe-container {
  grid-row: 2;
  grid-column: 1 / -1;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.links {
  grid-row: 3;
  grid-column: 1 / -1;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

figcaption {
  font-size: 85%;
  font-style: italic;
}

h4 {
  margin-bottom: 1%;
}

article ul li {
  text-align: left;
  margin-bottom: 2vh;
}

article ul {
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.footer {
  grid-area: footer;
  background-color: goldenrod;
  min-height: 5vh;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

/* ipad pro med viewport 1366x1024 */
@media only screen and (width: 1366px) and (height: 1024px) {
  body {
    font-size: calc(0.7em + 1vw);
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
  }

  .ddmenu {
    width: 100%;
  }
}

/* samsung nettbrett med viewport 1280x800 */
@media only screen and (width: 1280px) and (height: 800px) {
  body {
    font-size: calc(0.7em + 1vw);
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
  }

  .ddmenu {
    width: 100%;
  }
}

/* skjermer med viewport bredde opptil 1024px, nettbrett og mobil */
@media only screen and (max-width: 1024px) {
  body {
    font-size: calc(0.7em + 1vw);
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
  }

  .ddmenu {
    width: 100%;
  }
}