//fontrelated
$h1headercolor: Maroon;
$font: Arial, Helvetica, sans-serif;
$fontsizelaptop: calc(0.3em + 1vw);
$fontsizeother: calc(0.7em + 1vw);

//colors
$navcolor: navy;
$ddcolor: grey;
$lesmercolor: goldenrod;
$asidecolor: IndianRed;
$gitbtncolor: blue;
$footercolor: DarkRed;

//media queries
$ipadpro: "(width: 1366px) and (height: 1024px)";
$galaxytab: "(width: 1280px) and (height: 800px)";
$phones: "(max-width: 1024px)";

