/* my main css file */

@import "normalize";
@import "variables";
@import "mixins";

/* høyere bredde enn 1024px, laptop og desktop skjermer */
body {
	@include body
}

.wrapper {
  @include maingridlaptop
}

.header {
	grid-area: header;
}

header {
	@include header
}

nav {
	@include nav
}

.hjem {
	@include hjem
}

.ddmenu {
	@include ddmenu
}

.ddcontent {
	@include ddcontent
}

#menu {
	@include menu
}

label {
	@include label
}

.content {
	@include content
}

.lesmer {
	@include lesmer
}

input {
	width: 60%;
}

textarea {
	width: 80%;
}

.sidebar {
	@include sidebar
}

.gitbtn {
	@include gitbtn
}

.iframe-container {
	@include iframe-container
}

.links {
	@include links
}

img {
	@include img
}

figcaption {
	@include figcaption
}

h4 {
  margin-bottom: 1%;
}

article {
	@include article
}

.footer {
	@include footer
}

a {
	@include a
}

@media only screen and #{$ipadpro}, #{$galaxytab}, #{$phones} {
	 body {
		font-size: $fontsizeother;
	}

	.wrapper {
		@include maingridother
	}

	.ddmenu {
		width: 100%;
	}
}